body, html {
    margin-left:0.5%;
    margin-right:0.5%;
    }

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    }

.imgright {
    float: right;
    padding: 5px
}

img {
    float: left;
    margin: 5px
}

.card {
    background: #212121
}