

<table>
    <tr valign="top">
        <div class="card mb-3" style="max-width:540px">
        <div class="row g-0">
        <td>
            <div class="col-md-4">
                <img src="{{ post.author.avatar(75) }}">
            </div>
        </td>
        <td>
            <h4 class='card-title'><a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says:</h4><br>{{ post.body }}
        </td>
    </div>
</div>
</tr>
</table>
<a href='{{ url_for("post_detail", post_id=post_id) }}'><button class='btn btn-secondary'>Details</button></a>