<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="/static/style.css">
<title>
    {% if title %}{{ title }} - 6 Nimmt{% else %}Welcome to 6 Nimmt{% endif %}
</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    
    {% block content %}
    
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    {% endblock %}

<footer class="footer mt-auto py-3 bg-#212121">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
</body>
<style>
    body{
        background-color: #212121;
        color: white
    }
</style>
</html>