{% extends "base.html" %}

{% block content %}


<section class="p-5 text-center bg-#212121 rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Finally a place to play</h1>
      <p class="fs-4">Working toward making a place to hang out and exersize minds. While at the same time giving them rest from the day to day.</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</section>

<div class="row ">
    <div class="col-sm-4">
        <div class="card bg-dark text-white">
            <a class="card-block stretched-link text-decoration-none" href="{{ url_for('rules') }}">
                <img class="card-img" src="/static/assets/play cards.jpg" alt="Play">
            </a>
            <div class="card-img-overlay">
            <h3 class="card-title">Rules</h3>
            <p class="card-text">Learn to play in a simple and concise way</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-dark text-white">
            <a class="card-block stretched-link text-decoration-none" href="{{ url_for('game') }}">
                <img class="card-img" src="/static/assets/playing.jpg" alt="Play">
            </a>
            <div class="card-img-overlay">
                <h3 class="card-title">Play</h3>
                <p class="card-text">Play with random opponents right NOW</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card bg-dark text-white">
            <a class="card-block stretched-link text-decoration-none" href="{{ url_for('discussion') }}">
                <img class="card-img" src="/static/assets/discussion.jpg" alt="Discussion">
            </a>
            <div class="card-img-overlay">
                <h3 class="card-title">Discussion</h3>
                <p class="card-text">Talk to us</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}