{% extends "base.html" %}

{% block content %}
<h4 class='card-title'><a href="{{ url_for('user', username=post.author.username) }}">
    {{ post.author.username }}
</a>
says:</h4><br>{{ post.content }}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Delete Post
  </button>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post - Are You Sure?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This action cannot be reversed. Are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{ url_for('post_delete', post_id=post_id) }}" method='POST'>
              <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
