{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<div class="d-flex">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active btn-lg" id="v-pills-Objective-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Objective" type="button" role="tab" aria-controls="v-pills-Objective" aria-selected="true">Objective</button>
      <button class="nav-link btn-lg" id="v-pills-Play-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Play" type="button" role="tab" aria-controls="v-pills-Play" aria-selected="false">Play</button>
      <button class="nav-link btn-lg" id="v-pills-Winning-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Winning" type="button" role="tab" aria-controls="v-pills-Winning" aria-selected="false">Winning</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-Objective" role="tabpanel" aria-labelledby="v-pills-Objective-tab">
          
        <p style='margin: 5px; border: 3px solid rgba(0, 0, 140, 0.575); padding:10px'><img src="https://via.placeholder.com/150" alt="Blah">Troughtout the game you will be gaining points, the objective is to make sure your opponents are gaining points faster.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-Play" role="tabpanel" aria-labelledby="v-pills-Play-tab">
        
        <p style='margin: 5px; border: 3px solid rgba(0, 0, 140, 0.575); padding:10px'><img class='imgright' src="https://via.placeholder.com/150" alt="Blah">Players choose one card from their hand to put into play. Once all players have selected the cards will go into place next to the closest card to them that is lower.
        If your card makes one of the stacks 5 cards long, you take the previous 4 cards (and thus the points from them) and your card becomes the sole card in that stack.
        Play goes from lowest card to highest each turn, each round is all 10 cards in players hands.</p>
      </div>
      <div class="tab-pane fade" id="v-pills-Winning" role="tabpanel" aria-labelledby="v-pills-Winning-tab">
        
        <p style='margin: 5px; border: 3px solid rgba(0, 0, 140, 0.575); padding:10px'><img src="https://via.placeholder.com/150" alt="Blah">Once a player has gained 66 points over the rounds, the player with the lowest points wins!</p>
      </div>
</div>
</div>
{% endblock %}
